nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


main{
    display: flex;
    flex-wrap: wrap;
}

.verd{
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 10px;
}

.princ{
    width: 400px;
    background-color: aqua;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.secund{
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    margin: 10px;
}